<h1>User info</h1>
<div>
  
  <!--%= image_tag @user.get_profile_image(100,100) %-->
  <h3>name<%= @user.name %></h3>
  <h3>introduction<%= @user.body %></h3>
  <p><%= link_to "プロフィール編集", user_edit_path(@user.id)  %></p>

</div>

<!--books create-->


<!-- ユーザーの投稿一覧 -->
<h1>Books</h1>

<% @books.each do |book| %>
<div>
  <%= image_tag book.get_image %>

  <%= link_to book_path(book.id) do %> 
  <p>Title：<%= post_image.shop_name %></p>
  <% end %>
  
  <p>Opinion：<%= post_image.caption %></p>
  
</div>
<% end %>
