<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/1ccc9ca859.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% if user_signed_in? %>
     <ul>
      <li>
        <%=link_to user_path(current_user.id) do %>
         <i class="fa-solid fa-house"></i>Home
        <% end %>
      </li>
      <li>
        <%=link_to users_path do %>
         <i class="fa-solid fa-users"></i>Users
        <% end %>
      </li>
        <li>
        <%=link_to books_path do %>
         <i class="fa-solid fa-book-open"></i>Books
        <% end %>
      </li>

      <li>
        <%= link_to destroy_user_session_path, method: :delete  do %>
         <i class="fa-solid fa-right-from-bracket"></i>Log Out
        <% end %>
      </li>
    </ul>  
    <% else %>
     <ul>
      <li> <%=link_to "/" do %>
         <i class="fa-solid fa-house"></i>Home
        <% end %>
      </li>


      <li>
        <%= link_to "Sign up", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "Log in", new_user_session_path %>
      </li>
    </ul>  
    <% end %>
  </header>
    <%= yield %>
  </body>
</html>
